* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: rgb(27, 26, 26);
}
section {
  display: flex;
  padding-top: 120px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  position: absolute;
  top: 0;
  margin-top: 30px;
  animation: logo 0.4s alternate infinite;
}
.logo img {
  width: 200px;
}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(4deg);
  }
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.titulo h1 {
  padding-bottom: 20px;
  font-size: 40px;
  font-family: "Fredoka One", cursive;
  animation: title 0.4s linear alternate infinite;
}
@keyframes title {
  0% {
    text-shadow: 0px 0px 1px #fff;
  }

  100% {
    text-shadow: 2px 2px 15px #fff;
  }
}

.titulo p {
  font-family: "poppins";
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  text-align: center;
}
.content a:first-child {
  margin-top: 20px;
  background-color: rgb(237, 9, 55);
}

.content a {
  text-decoration: none;
  font-family: "poppins";
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 20px;
}
.content a:hover {
  background: #fff;
  color: #000;
}
.content a:last-child {
}
